/* Ajustes generales de video y capas */
.video-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.capa {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1c1c1c;
  opacity: 0.5;
  mix-blend-mode: overlay;
}

/* Ajuste del contenido */
.content, .content2 {
  position: absolute;
  color: white;
  text-align: center;
}

.content {
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content2 {
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Tamaño del título principal */
h1 {
  font-size: 3em;
  font-weight: bold;
}

/* Título grande */
.title-modern {
  font-size: 150px;
  font-weight: 900;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
}

/* Título más pequeño */
.title-modern2 {
  font-size: 45px;
  font-weight: 900;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
}

/* Botón de llamada a la acción */
.button-container {
  position: absolute;
  bottom: 230px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.cta-button {
  background-color: #ff5722;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1.2rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #e64a19;
}

/* Media Queries para móviles */
@media (max-width: 768px) {
  .content {
    top: 15%;
  }

  .content2 {
    top: 50%;
  }

  h1 {
    font-size: 2em;
  }

  .title-modern {
    font-size: 70px; /* Reduce el tamaño del título en móviles */
  }

  .title-modern2 {
    font-size: 30px; /* Reduce el tamaño del subtítulo en móviles */
  }

  .button-container {
    bottom: 150px; /* Ajusta la posición del botón en móviles */
  }

  .cta-button {
    font-size: 1rem;
    padding: 8px 16px;
  }
}

/* Media Queries para pantallas muy pequeñas (por ejemplo, teléfonos antiguos o resoluciones bajas) */
@media (max-width: 480px) {
  .content {
    top: 40%;
    left: 14%;
  }

  .content2 {
    top: 48%;
    left: 23%;
  }

  .title-modern {
    font-size: 40px; /* Aún más pequeño para pantallas muy pequeñas */
  }

  .title-modern2 {
    font-size: 20px; /* Ajuste proporcional en el subtítulo */
  }

  .button-container {
    bottom: 100px;
  }

  .cta-button {
    font-size: 0.9rem;
    padding: 6px 12px;
  }
}

/* 2.2 */